@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .scroll-container {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .scroll-content {
    display: inline-block;
    animation: scroll 10s linear infinite;
  }
  